.cardBox{
  width:80vw;
  height:42vh;
  border-radius:20px;
  margin: 40px auto;
  background-color:white;
  box-shadow: 1px 1px 3px grey;
}
.titleBox{
  height: 5vh;
  background-color:rgb(244,246,251);
  border-radius:20px 20px 0 0;
  line-height: 5vh;

}
.titleText{
  margin-left: 15px;
  text-shadow: 1px 1px 18px rgb(22,119,255);
}
.distinguish{
  margin-left: 15px;
  margin-top: 15px;
  height: 40vh;

}
.spanText{
  font-size:9px;
  color: gray;
  
}

@media screen and (max-width: 1450px) {
  .cardBox{
    width:80vw;
    height:50vh;
    border-radius:20px;
    background-color:white;
    box-shadow: 1px 1px 3px grey;
  }
  .distinguish{
    margin-left: 15px;
    margin-top: 15px;
    width:80vw;
    height:50vh;
  
  }
}

@media screen and (max-width: 1142px) {
  .cardBox{
    width:80vw;
    height:55vh;
    border-radius:20px;
    background-color:white;
    box-shadow: 1px 1px 3px grey;
  }
  .distinguish{
    margin-left: 15px;
    margin-top: 15px;
    width:80vw;
    height:50vh;
  
  }
}

@media screen and (max-width: 1048px) {
  .cardBox{
    width:80vw;
    height:65vh;
    border-radius:20px;
    background-color:white;
    box-shadow: 1px 1px 3px grey;
  }
  .distinguish{
    margin-left: 15px;
    margin-top: 15px;
    width:80vw;
    height:50vh;
  
  }
}