.selectCardBox{
  width:80vw;
  height:43vh;
  border-radius:20px;
  background-color:white;
  box-shadow: 1px 1px 3px grey;
}
.selectTitleBox{
  height: 5vh;
  background-color:rgb(244,246,251);
  border-radius:20px 20px 0 0;
  line-height: 5vh;
  width:80vw;

}
.selectTitleText{
  margin-left: 15px;
  text-shadow: 1px 1px 18px rgb(22,119,255);
  
}
.selectDistinguish{
  margin-left: 15px;
  margin-top: 15px;
  width:80vw;
  padding-bottom: 20px;
  padding-right: 20px;
}
.selectSpanText{
  font-size:9px;
  color: gray;
  
}

@media screen and (min-width: 1100px) {
  .selectCardBox{
    width:80vw;
    height:auto;
    border-radius:20px;
    background-color:white;
    box-shadow: 1px 1px 3px grey;
  }
  .selectDistinguish{
    margin-left: 15px;
    margin-top: 15px;
    width:80vw;
  }
}

@media screen and (max-width: 1048px) {
  .selectCardBox{
    width:80vw;
    height:auto;
    border-radius:20px;
    background-color:white;
    box-shadow: 1px 1px 3px grey;
  }
  .selectDistinguish{
    margin-left: 15px;
    margin-top: 15px;
    width:80vw;
  }
}