:root {
  --box-bg-color: #fdfdfd;
  --box-padding: 20px;
}

.box-wrapper {
  background-color: var(--box-bg-color);
  padding: var(--box-padding);
}

.header {
  margin-bottom: 40px !important;
}

.content .small-topic-wrapper {
  margin-bottom: 50px;
  text-align: start;
}


